---
layout: default
title: Blog
---

<article class="box post post-excerpt">
	<header>
		<!--
			Note: Titles and subtitles will wrap automatically when necessary, so don't worry
			if they get too long. You can also remove the <p> entirely if you don't
			need a subtitle.
		-->
		<h2>{{ page.title }}</h2>
		{% if page.description %}<p>{{ page.description }}</p>{% endif %}
	</header>
	<div class="info">
		<!--
			Note: The date should be formatted exactly as it's shown below. In particular, the
			"least significant" characters of the month should be encapsulated in a <span>
			element to denote what gets dropped in 1200px mode (eg. the "uary" in "January").
			Oh, and if you don't need a date for a particular page or post you can simply delete
			the entire "date" element.

		-->
		{% assign m = page.date | date: "%-m" %}
		{% capture short_month %}{% case m %}{% when '1' %}Janv<span class="delim">.</span>{% when '2' %}Févr<span class="delim">.</span>{% when '3' %}Mars{% when '4' %}Avr<span class="delim">.</span>{% when '5' %}Mai{% when '6' %}Juin{% when '7' %}Juill<span class="delim">.</span>{% when '8' %}Août{% when '9' %}Sept<span class="delim">.</span>{% when '10' %}Oct<span class="delim">.</span>{% when '11' %}Nov<span class="delim">.</span>{% when '12' %}Déc<span class="delim">.</span>{% endcase %}{% endcapture %}
		{% capture end_month %}{% case m %}{% when '1' %}ier{% when '2' %}ier{% when '3' %}{% when '4' %}il{% when '5' %}{% when '6' %}{% when '7' %}et{% when '8' %}{% when '9' %}embre{% when '10' %}obre{% when '11' %}embre{% when '12' %}embre{% endcase %}{% endcapture %}
		<span class="date"><span class="day">{{ page.date | date: "%d" }}</span> <span class="month">{{ short_month }}<span>{{ end_month }}</span></span> <span class="year force">{{ page.date | date: "%Y" }}</span></span>
	</div>
	{% if page.image %}<a href="#" class="image featured"><img src="{{ page.image }}" alt="" /></a>{% endif %}
	<p>{{ content }}</p>
</article>
